doctype html

html
  head
    title= title

  body
    h1
      a(href=homepage target='_blank')= title

    p Add a date to the end of this url to see a response.
    p 
      a(href=today target='_blank') example
   
